.crypto-wrapper {
  font-size: 1rem;

  .crypto-top-section {
    display: flex;
    align-items: center;
    gap: 0.7rem;
    margin-bottom: 0.5rem;
    color: rgb(234, 214, 99);

    .dogecoin-img {
      width: 5rem;
    }

    .dogecoin-name {
      font-size: 1.6rem;
      font-weight: 600;
    }
  }

  .price {
    margin: 0.2rem 0 0 0;
  }
}

@media screen and (max-width: 470px) {
  .crypto-wrapper {
    font-size: 0.9rem;
    .crypto-top-section {
      .dogecoin-img {
        width: 2.5rem;
      }

      .dogecoin-name {
        font-size: 1rem;
      }
    }
  }
}
