.App {
  min-height: 100vh;
  background: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em;

  .crypto-weather-container {
    display: flex;
    justify-content: space-between;

    .crypto-wrapper {
      font-size: 1.3rem;
      .crypto-top-section {
        display: flex;
        align-items: center;
        gap: 0.7em;
        margin-bottom: 0.5em;
        color: rgb(234, 214, 99);

        .dogecoin-img {
          width: 5em;
        }

        .dogecoin-name {
          font-size: 1.6rem;
          font-weight: 600;
        }
      }

      .price {
        margin: 0.2em 0 0 0;
      }
    }

    .weather-wrapper {
      .weather-top {
        display: flex;
        align-items: center;

        .weather-icon {
          width: 70px;
        }

        .temperature {
          margin: 0;
          font-size: 2.5rem;
        }
      }

      .city {
        padding: 0;
        margin: 0;
        font-size: 1.3rem;
        text-align: right;
        margin-top: -10px;
      }
    }
  }

  h1 {
    margin-bottom: 3em;
    font-size: 5rem;
    align-self: center;
  }

  .bottom-section {
    display: flex;
    justify-content: space-between;

    .img-author {
      font-weight: 300;
      align-self: flex-end;
      padding: 0;
      margin: 0;
    }

    a {
      .todo-list-icon {
        width: 70px;
        transition: scale 300ms;

        &:hover {
          scale: 1.1;
        }
      }
    }
  }
}
